<html>
<head>
    <title>Add Student</title>
    {% include 'studentsdata/cdnlines.html' %}
</head>
<body>
<style>
    body{
        background-color: lightblue;
    }
</style>
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1 class="text-center">Please Add Student Here...</h1>
            <form  action="/create/" method="POST">
                {% csrf_token %}
                <label>Enter Student Roll Number:</label>
                <input type="number" name="roll" placeholder="Roll Number" class="form-control">

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter Student First Name</label>
                        <input type="text" name="fname" placeholder="First Name" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter Student Last Name:</label>
                        <input type="text" name="lname" placeholder="Last Name" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter Email ID:</label>
                        <input type="email" name="email"placeholder="Email Id" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter School Name:</label>
                        <input type="text" name="school" placeholder="School Name" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter Class Name:</label>
                        <input type="text" name="cls" placeholder="Class Name" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter Section Name:</label>
                        <input type="text" name="section"placeholder="Section Name" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter Telugu Marks:</label>
                        <input type="number" name="telugu" placeholder="Telugu Marks" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter Hindi Marks:</label>
                        <input type="number" name="hindi" placeholder="Hindi Marks" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter English Marks:</label>
                        <input type="number" name="english" placeholder="English Marks" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter Maths Marks:</label>
                        <input type="number" name="maths" placeholder="Maths Marks" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Enter Science Marks:</label>
                        <input type="number" name="science" placeholder="Science Marks" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label>Enter Social Marks:</label>
                        <input type="number" name="social" placeholder="Social Marks" class="form-control">
                    </div>
                </div>
                <center>
            <input type="submit" value="Add" class="btn btn-success">
            <input type="reset" value="Clear" class="btn btn-danger">
            </center>
            </form>
        </div>
    </div>
</div>
</body>
</html>
